main {
	.items_wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		grid-gap: 20px;
		margin-bottom: 60px;
		.item {
			max-width: 100%;
		}
	}
	.out_team {
		.our_team__member {
			text-align: center;
			.otm_img {
				overflow: hidden;
				border-radius: 15px;
				margin-bottom: 15px;
				img {
					display: block;
					width: 100%;
					height: 320px;
					object-fit: cover;
					object-position: center center;
				}
			}

			h3 {
				color: $primary;
				margin-bottom: 8px;
			}

			p {
				font-size: 13px;
				font-style: italic;
			}
		}
	}
	#lightgallery {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
		grid-gap: 20px;
		a {
			img {
				display: block;
				border-radius: $br;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center center;
				filter:grayscale(30%);
			}

			&:hover {
				img {
					filter: grayscale(0%);
					filter:saturate(170%);
				}
			}
		}

		@media screen and (max-width: 640px) {
			grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
		}
	}
	.tab_container {
		.tab_header {
			display: flex;
			margin-bottom: 20px;
			.tab_header__btn {
				flex-basis: 25%;
				padding: 15px 25px;
				cursor: pointer;
				background: $primary;
				color: #fff;
				text-align: center;

				&:first-child {
					border-radius: $br 0px 0px $br;
				}

				&:last-child {
					border-radius: 0px $br $br 0px;
				}

				&.tab_header__btn-active{
					background: $primaryHover;
				}
			}

			@media screen and (max-width: 768px) {
				flex-wrap: wrap;
				.tab_header__btn {
					flex-basis: 50%;

					&:nth-child(1){
						border-radius: $br 0px 0px 0px;
					}
					&:nth-child(2){
						border-radius: 0px $br 0px 0px;
					}
					&:nth-child(3){
						border-radius: 0px 0px 0px $br;
					}
					&:nth-child(4){
						border-radius: 0px 0px $br 0px;
					}
				}
			}

			@media screen and (max-width: 520px) {
				.tab_header__btn {
					flex-basis: 100%;

					&:nth-child(1){
						border-radius: $br $br 0px 0px;
					}
					&:nth-child(2){
						border-radius: 0px 0px 0px 0px;
					}
					&:nth-child(3){
						border-radius: 0px 0px 0px 0px;
					}
					&:nth-child(4){
						border-radius: 0px 0px $br $br;
					}
				}
			}
		}

		.tab_body {
			.tab_body__content {
				display: none;

				&.tab_body__content-active{
					display: block;
				}
				h3 {
					color: $primary;
					margin-bottom: 8px;
				}

				p{
					color: #5d5d5d
				}
			}
		}
	}


	// other pages
	.product_page {
		margin-top: 50px;
		.product {
			display: flex;
			align-items: flex-start;
			gap: 100px;
			.product_imgs {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				flex-basis: 60%;

				a {
					display: block;
					width: calc(100%/4);
					max-height: 200px;
					min-height: 200px;
					overflow: hidden;

					img {
						display: block;
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center center;
						opacity: 0.3;
						transition: opacity 0.3s;
					}

					&:nth-child(1) {
						width: 100%;
						min-height: 400px;
						img {
							opacity: 1;
						}
					}

					&:hover {
						img {
							opacity: 1;
						}
					}
				}
			}

			.product_options_and_basket {
				flex-basis: 40%;
				.product_options {
					.product_option{
						display: flex;
						justify-content: space-between;
						padding-bottom: 10px;
						border-bottom: 2px solid #ddd;
						margin-bottom: 10px;
						.product_option__title {
							font-weight: bold;
						}
	
						.product_option__value {
							font-style: italic;
						}
					}
				}
				#about_product {
					color: #5d5d5d;
					margin: 15px 0px;
					font-size: 15px;
					letter-spacing: 1px;
					font-style: italic;
				}

				#product_price {
					font-weight: bold;
					margin: 10px 0px 35px 0px;
					letter-spacing: 1px;
					color: #1a1a1a;
				}

				.basket_block {
					display: flex;
					align-items: center;
					justify-content: space-between;
					a {
						display: block;
						border-radius: $br;
					}

					#buy {
						background: $primary;
						color: #fff;
						transition: 0.3s;
						padding: 10px 45px;

						&:hover {
							background: $primaryHover;
						}
					}

					#credit {
						color: rgb(0, 155, 0);
						font-weight: bold;
					}
				}
			}
			
			@media screen and (max-width: $bigMobile) {
				flex-wrap: wrap;
				.product_imgs, .product_options_and_basket {
					flex-basis: 100%;
				}
			}
		}
	}
}