@import "global_styles";

.top_nav {
	background: $gray;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 50px;
		width: 100%;
	}
	.top_nav__block {
		display: flex;
		a {
			display: block;
			text-decoration: none;
			margin-right: 15px;
			svg {
				width: 30px;
				height: 30px;
				fill: $primary;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		a {
			font-weight: bold;
		}
	}
}

nav {
	position: sticky;
	background: #fff;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1049;
	box-shadow: 0 6px 36px rgb(0 0 0 / 9%);

	.container {
		display: flex;
		justify-content: space-between;
		min-height: 80px;
		align-items: center;
		position: relative;
		// .nav_logo {

		// }

		.nav_menu {
			.menuBtn {
				display: none;
			}
			ul {
				display: flex;
				justify-content: space-between;
				li {
					list-style-type: none;
					a {
						display: flex;
						height: 80px;
						align-items: center;
						padding: 8px;
						color: $black;
						font-weight: bold;
						text-transform: uppercase;
						position: relative;
						z-index: 5;
						transition: color 0.4s;
						letter-spacing: 1px;

						&::after {
							content: "";
							position: absolute;
							width: 100%;
							height: 0%;
							top: 0;
							left: 0;
							background: $primary;
							transition: height 0.3s;
							z-index: -1;
						}

						&:hover {
							color: #fff;
							&::after {
								height: 100%;
							}
						}
					}
				}
			}

			@media screen and (max-width: 768px) {
				.menuBtn {
					display: flex;
				}
				ul {
					flex-flow: column;
					justify-content: flex-start;
					position: absolute;
					top: 0px;
					width: 580px;
					overflow: hidden;
					left: -5000px;
					background: $gray;
					transition: left 0.2s linear;

					@media screen and (max-width: 680px) {
						width: 500px;
					}

					@media screen and (max-width: 580px) {
						width: 450px;
					}

					@media screen and (max-width: 520px) {
						width: 400px;
					}

					@media screen and (max-width: 480px) {
						width: 350px;
					}

					@media screen and (max-width: 420px) {
						width: 300px;
					}

					@media screen and (max-width: 380px) {
						width: 280px;
					}

					@media screen and (max-width: 350px) {
						width: 250px;
					}

					li {
						a {
							height: 60px;
							padding: 30px 20px;
						}
					}

					&.active_nav {
						left: 0px;
						height: 100vh;
					}
				}
			}
		}
	}
}