@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
	font-family: NSABold;
	src: url("../fonts/NotoSansArmenian-Bold.ttf");
}

@font-face {
	font-family: NSARegular;
	src: url("../fonts/NotoSansArmenian-Regular.ttf");
}

@font-face {
	font-family: NSAMedium;
	src: url("../fonts/NotoSansArmenian-Medium.ttf");
}

@font-face {
	font-family: NSALight;
	src: url("../fonts/NotoSansArmenian-Light.ttf");
}

@font-face {
	font-family: NSAThin;
	src: url("../fonts/NotoSansArmenian-Thin.ttf");
}