// static files
@import "./sass_modules/nav";
@import "./sass_modules/header";
@import "./sass_modules/main";

// global
@import "./sass_modules/global_styles";
@import "./sass_modules/fonts";

body {
	font-family: NSARegular, "Roboto", sans-serif;
	overflow-x: hidden;
	&::-webkit-scrollbar {
		width: 7px;
		height: 7px;
		overflow: hidden;
	}

	&::-webkit-scrollbar-track {
		background: #ccc;
	}

	&::-webkit-scrollbar-thumb {
		background: $primary;
	}
}

p{
	line-height: 24px;
}

a {
	color: $link;
	text-decoration: none;

	&:hover {
		color: $primary;
	}
}